.card-design {
    width: 550px;
    height: 550px;
    border: 1px solid #ebebebeb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2.8em;
    left: -4.5em;
    z-index: -1;
}

.middle {
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: inherit;
    border: inherit;
}

.inner {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: inherit;
    border: inherit;
    position: absolute;
    top: 9em;
    left: 8.5em;
}