@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', 'Noto Sans JP', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  background: url(./assets/aceBG.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 165%;
}

@media (max-width: 1188px) {
  body {
    background-size: 195%;
  }
}

@media (max-width: 908px) {
  body {
    background-size: 235%;
  }
}

@media (max-width: 828px) {
  body {
    background-size: cover;
  }
}

:root {
  --text-one: #05365c;
  --text-two: #8e96a3;
  --active-border: #035fff;
  --input-border: rgb(224 224 224 / 50%);
  --dark-bg: #17254c;
  --blue-bg: #035fff;
}